<section class="footer-section">
  <footer class="footer-content">
    <div class="large-logo">
      <h1 class="font-anton">
        <img src="assets/images/logo-large.png" alt="logo" />
        Alli-Go
      </h1>
    </div>

    <div class="logo-and-copyright">
      <div class="logo"><img src="assets/images/logo-large.png" alt="logo" /> Ali-Go</div>
      <p>&copy; Ali-go All Rights Reserved</p>
    </div>

    <div class="our-company footer-group">
      <h4 class="font-anton">Our Company</h4>
      <a href="#">About Us</a>
      <!-- <a href="#">Privacy Policy</a> -->
      <a href="#">Terms of Service</a>
    </div>

    <div class="contact footer-group">
      <h4 class="font-anton">Our Company</h4>
      <a href="#">123 Tech Street, Suite 101Cityville, State, ZIP</a>
      <a href="#">contact&copy;gmail.com</a>
    </div>

    <div class="contact footer-group">
      <h4 class="font-anton">Our Company</h4>
      <a href="#">123 Tech Street, Suite 101Cityville, State, ZIP</a>
      <a href="#">contact&copy;gmail.com</a>
    </div>
  </footer>
</section>
