<section class="gears-section">
  <div class="section-title">
    <h2 class="font-anton">We provide Essential Gear for Every Adventure</h2>
  </div>

  <div class="gears-cards">
    @for(grear of gears; track grear) {

    <div class="card">
      <img [src]="grear.image" alt="{{ grear.name }}" />
      <div class="content">
        <h3 class="title font-anton">{{ grear.name }}</h3>
        <p class="description font-manrope">
          {{ grear.description }}
        </p>
      </div>
    </div>
    }
  </div>
</section>
