<section class="locations-section">
  <!-- arrow  -->
  <div class="arrow-container">
    <img class="arrow" src="assets/images/arrow.png" alt="." />
  </div>

  <div class="section-title">
    <h2>
      The Ultimate Adventure
      <span class="hightlight"
        >Locations
        <img src="assets/images/underline.png" alt="." />
      </span>
    </h2>
  </div>

  <div class="locations-grid">
    @for(location of locations; track location) {

    <div class="card">
      <img [src]="location.image" alt="{{ location.name }}" />
      <div class="content">
        <h3 class="title font-anton">{{ location.name }}</h3>
        <p class="description font-manrope">
          {{ location.description }}
        </p>
      </div>
    </div>
    }
  </div>
</section>
