@use '../../../styles.sass'
@use '../../../styles/_mixins.sass' as Mixins
@use '../../../styles/_variables.sass' as Variables
  
    
.hero-section   
    justify-content: center
    margin-top: Variables.$space-100
    position: relative 
    height: 30rem
    border-radius: 8px
    overflow: hidden 

    .bg-video 
        position: absolute 
        inset: 0
        width: 100%
        height: 100%
        z-index: -1
        object-fit: cover
    .content   
        @include Mixins.flex($direction: column)
        text-align: center
        color: Variables.$clr-white
        position: absolute
        align-items: center
        width: 100%
        height: 100%
        background: #0000009e


        .hero-subtext
            margin-inline: 1rem
            max-width: 30rem

        button 
            @include Mixins.button()
            

@media screen and (min-width: 768px)

    .hero-section   
        height: 42rem

        .content
            
            .hero-subtext
                font-size: 18px
